<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-3">
       <h3>For More Information, Contact</h3>
<p>Jennifer Sullivan Sulewski, Principal Investigator<br />
Senior Research Associate, ICI/UMass Boston<br />
<a href="mailto:jennifer.sulewski@umb.edu">jennifer.sulewski@umb.edu</a><br />
<a href="tel:1-617-287-4356">(617) 287-4356</a></p>
<p><img src="img/ICI_UMB_blue.png" alt="UMB ICI">
      </div>


      <div class="footer-col  footer-col-3">
      <h3>Funded by</h3>
        <p class="text">The Administration on Intellectual and Developmental Disabilities, Administration for Community Living, U.S. Department of Health and Human Services, under cooperative agreement #90DN0295. </p>

<p>The National Institute for Disability and Rehabilitation Research, US Department of Education, Field Initiated Program, under grant #H133G140150.</p>
      </div>
    </div>

  </div>

</footer>
